@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --twitter-blue: #1da1fe;
}

.bg-twitter-color{
  background: var(--twitter-blue)
}

.bg-twitter-color:hover{
  filter: brightness(0.95)
}

.twitter-color{
  color: var(--twitter-blue)
}

.dark{
  @apply bg-slate-800 text-white
}

.light{
  @apply bg-slate-50 text-black
}

.link-sidebar{
  @apply flex gap-2 items-center
}